*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    }
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 15px;
    font-size: 150%;
}

.button_delete{
    color: black;
    background-color: red;
    border-style: solid;
    border-color: black;
    padding: 2%;
    margin: 1%;
}
.button_edit{
    color: black;
    background-color: green;
    border-style: solid;
    border-color: black;
    padding: 2%;
    margin: 1%;
}

input{
        margin: 5px;
    }
